In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
#Create DataFrame
df = pd.DataFrame ({
    'TransactionAmount' : [100,150,50,100,130,120,100,85,70,150,150,120,50,100,100,140,90,150,50,90,120,100,110,75,65]
                           })
df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [7]:
TransactionAmount = np.array([100,150,50,100,130,120,100,85,70,150,150,120,50,100,100,140,90,150,50,90,120,100,110,75,65])
TransactionAmount

array([100, 150,  50, 100, 130, 120, 100,  85,  70, 150, 150, 120,  50,
       100, 100, 140,  90, 150,  50,  90, 120, 100, 110,  75,  65])

In [9]:
#Central Tendency
import statistics
print(np.mean(TransactionAmount))
print(np.median(TransactionAmount))

102.6
100.0

In [11]:
statistics.mode(TransactionAmount)

100

In [ ]:
#Tulis analisismu dari Central Tendency di sini
- Nilai Mean (rata-rata) nilai transaksi adalah 102
- Nilai Median (nilai tengah) dari nilai transaksi adalah 100
- Nilai Modus (nilai yang sering muncul) dari nilai transaksi adalah 100

In [13]:
#Variability
import statistics
print(np.var(TransactionAmount))
print(np.std(TransactionAmount))
print(np.max(TransactionAmount))
print(np.min(TransactionAmount))
print(np.quantile(TransactionAmount, 0.25))
print(np.quantile(TransactionAmount, 0.5))
print(np.quantile(TransactionAmount, 0.75))

972.2399999999999
31.18076330047101
150
50
85.0
100.0
120.0

In [ ]:
#Tulis analisismu dari Variability di sini
- nilai variance dari nilai transaksi adalah 972.239999999
- nilai std(standar deviation) dari nilai transaksi adalah 31.1807633004
- nilai maksimum dan nilai minimum dari nilai transaksi adalah 150 & 50
- nilai quantile 0.25 dari nilai transaksi adalah 85
- nilai quantile 0.5 dari nilai transaksi adalah 100
- nilai quantile 0.75 dari nilai transaksi adalah 120
- dari hasil perhitungan menunjukkan bahwa dataset memiliki tingkat variasi & sebaran yang cukup besar

In [1]:
#Define H0 and H1
#H0: Penjualan rata - rata perusahaan X = 100
#H1: Penjualan rata - rata perusahaan X > 100

In [3]:
#Define alpha = 0.05

In [15]:
#Calculate t statistics and P-value
#Perform one sample t-test
t_test, pvalue = stats.ttest_1samp(a = TransactionAmount, popmean=100)
print('t_test :', t_test)
print('P-value :', pvalue)

t_test : 0.4085001556802841
P-value : 0.6865284813438117

In [ ]:
#statistic= 0.408 , pvalue= 0.686

In [11]:
#Conclude with alpha and p-value
#Berdasarkan hasil pengujian hipotesis, menunjukkan nilai p-value lebih besar dari alpha (0.05), maka gagal menolak H0
#Conclusion: Perlakuan sales force training terhadap pekerja sales belum mampu meningkatkan penjualan rata - rata, sehingga rata - rata penjualan masih di angka 100

In [17]:
#Conclude with t statistics and critical region
print('Critical value :', stats.t.ppf(1-0.05, 24))
#Find the critical region

Critical value : 1.7108820799094275

In [ ]:
#H0: Penjualan rata - rata = 100 per transaksi setelah dilakukan sales force training kepada pekerja sales

In [14]:
#Critical region result
#Berdasarkan pengujian nilai t, menunjukkan nilai t-statistic berada diluar nilai critical value (critical region : t > 1.71) maka gagal menolak H0
#Conclusion: Perlakuan sales force training terhadap pekerja sales belum mampu meningkatkan penjualan rata - rata, sehingga rata - rata penjualan masih di angka 100